<?xml version="1.0"?>
<config>
    <modules>
        <SmartLab_Blogs>
            <version>0.1.0</version>
        </SmartLab_Blogs>
    </modules>
    <frontend>
        <routers>
            <blogs>
                <use>standard</use>
                <args>
                    <module>SmartLab_Blogs</module>
                    <frontName>blogs</frontName>
                </args>
            </blogs>
        </routers>
        <layout>
            <updates>
                <blogs>
                    <file>blogs.xml</file>
                </blogs>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <blogs>
                <class>SmartLab_Blogs_Model</class>
                <resourceModel>blogs_resource</resourceModel>
            </blogs>
            <blogs_resource>
                <class>SmartLab_Blogs_Model_Resource</class>
                <entities>
                    <customerpost>
                        <table>neotheme_customer_post</table>
                    </customerpost>
                    <tagpost>
                        <table>neotheme_tag_post</table>
                    </tagpost>
                    <tag>
                        <table>neotheme_blog_tag</table>
                    </tag>
                </entities>
            </blogs_resource>
        </models>
        <resources>
            <blogs_setup>
                <setup>
                    <module>SmartLab_Blogs</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blogs_setup>
            <blogs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blogs_write>
            <blogs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blogs_read>
        </resources>
        <blocks>
            <smartlab_blogs>
                <class>SmartLab_Blogs_Block</class>
            </smartlab_blogs>
            <neotheme_blog>
                <rewrite>
                    <post_list>SmartLab_Blogs_Block_Post_List</post_list>
                </rewrite>
            </neotheme_blog>
        </blocks>
        <helpers>
            <blogs>
                <class>SmartLab_Blogs_Helper</class>
            </blogs>
        </helpers>
        <resources>
            <smartlab_blogs_setup>
                <setup>
                    <module>SmartLab_Blogs</module>
                </setup>
            </smartlab_blogs_setup>
        </resources>

    </global>
</config>