<?xml version="1.0"?>
<config>
    <modules>
        <SmartLab_Blogs>
            <version>0.1.0</version>
        </SmartLab_Blogs>
    </modules>
    <frontend>
        <routers>
            <blogs>
                <use>standard</use>
                <args>
                    <module>SmartLab_Blogs</module>
                    <frontName>blogs</frontName>
                </args>
            </blogs>
        </routers>
        <layout>
            <updates>
                <blogs>
                    <file>blogs.xml</file>
                </blogs>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <smartlab_blogs>
                <class>SmartLab_Blogs_Model</class>
                <resourceModel>smartlab_blogs_resource</resourceModel>
            </smartlab_blogs>
            <smartlab_blogs_resource>
                <class>SmartLab_Blogs_Model_Resource</class>
            </smartlab_blogs_resource>
        </models>
        <blocks>
            <!--<neotheme_blog>-->
                <!--<rewrite>-->
                    <!--<post_list>SmartLab_Blogs_Block_Account_MyBlock_List</post_list>-->
                <!--</rewrite>-->
            <!--</neotheme_blog>-->
            <!--<customer>-->
            <!--<rewrite>-->
            <!--<account_navigation>SmartLab_Blogs_IndexController</account_navigation>-->
            <!--</rewrite>-->
            <!--</customer>-->
            <smartlab_blogs>
                <class>SmartLab_Blogs_Block</class>
            </smartlab_blogs>
            <neotheme_blog>
                <rewrite>
                    <post_list>SmartLab_Blogs_Block_Post_List</post_list>
                </rewrite>
            </neotheme_blog>
        </blocks>
        <helpers>
            <blogs>
                <class>SmartLab_Blogs_Helper</class>
            </blogs>
        </helpers>
        <resources>
            <smartlab_blogs_setup>
                <setup>
                    <module>SmartLab_Blogs</module>
                </setup>
            </smartlab_blogs_setup>
        </resources>
    </global>
</config>