<?xml version="1.0"?>
<config>
    <modules>
        <SmartLab_Kimochigate>
            <version>0.1.0</version>
        </SmartLab_Kimochigate>
    </modules>
    <frontend>
        <routers>
            <kimochigate>
                <use>standard</use>
                <args>
                    <module>SmartLab_Kimochigate</module>
                    <frontName>kimochigate</frontName>
                    <!-- <frontName>kimochigate/verify</frontName> -->
                </args>
            </kimochigate>

            
        </routers>
        <layout>
            <updates>
                <kimochigate>
                    <file>kimochigate.xml</file>
                </kimochigate>

                 
            </updates>
        </layout>
		<translate>
            <modules>
                <SmartLab_Kimochigate>
                    <files>
                        <default>SmartLab_Kimochigate.csv</default>
                    </files>
                </SmartLab_Kimochigate>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<kimochigateadmin>
				<use>admin</use>
				<args>
					<module>SmartLab_Kimochigate</module>
					<frontName>kimochigateadmin</frontName>
				</args>
			</kimochigateadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<kimochigate>
					<file>kimochigate.xml</file>
				</kimochigate>

               <!--  <kimochiverify>
                    <file>kimochiverify.xml</file>
                </kimochiverify> -->
			</updates>
		</layout>
		<translate>
            <modules>
                <SmartLab_Kimochigate>
                    <files>
                        <default>SmartLab_Kimochigate.csv</default>
                    </files>
                </SmartLab_Kimochigate>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <kimochigate>
                <class>SmartLab_Kimochigate_Model</class>
                <resourceModel>kimochigate_mysql4</resourceModel>
            </kimochigate>
            <kimochigate_mysql4>
                <class>SmartLab_Kimochigate_Model_Mysql4</class>
                <entities>
                    <kimochigate>
                        <table>kimochigate</table>
                    </kimochigate>
                </entities>
            </kimochigate_mysql4>
        </models>
        <resources>
            <kimochigate_setup>
                <setup>
                    <module>SmartLab_Kimochigate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kimochigate_setup>
            <kimochigate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kimochigate_write>
            <kimochigate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kimochigate_read>
        </resources>
        <blocks>
            <kimochigate>
                <class>SmartLab_Kimochigate_Block</class>
            </kimochigate>
        </blocks>
        <helpers>
            <kimochigate>
                <class>SmartLab_Kimochigate_Helper</class>
            </kimochigate>
        </helpers>
    </global>
</config>