<?xml version="1.0" ?>
<config>
	<modules>
		<SmartLab_Godzai>
			<version>0.1.0</version>
		</SmartLab_Godzai>
	</modules>
	<global>
		<blocks>
			<godzai>
				<class>SmartLab_Godzai_Block</class>
			</godzai>
		</blocks>
		<helpers>
			<smartlab_godzai>
				<class>SmartLab_Godzai_Helper</class>
			</smartlab_godzai>
		</helpers>
		<models>
			<godzai>
				<class>SmartLab_Godzai_Model</class>
				<!-- <resourceModel>godzai_resource</resourceModel> -->
			</godzai>
			<!-- <godzai_resource>
				<class>SmartLab_Godzai_Model_Resource</class>
				<entities>
					<!-- <godzai>

					</godzai> --
				</entities>
			</godzai_resource> -->
		</models>
		<resources>
			<godzai_setup>
				<setup>
					<module>SmartLab_Godzai</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</godzai_setup>
			<godzai_write>
				<connection>
					<use>core_write</use>
				</connection>
			</godzai_write>
			<godzai_read>
				<connection>
					<use>core_read</use>
				</connection>
			</godzai_read>
		</resources>
	</global>
	<default>
		<payment>
			<godzai>
				<active>1</active>
				<model>godzai/paymentmethod</model>
				<order_status>pending</order_status>
				<title>GoDZai Payment</title>
				<allowspecific>0</allowspecific>
				<payment_aciton>sales</payment_aciton>
				<submit_url>http://local.tres-bien.com/kimochigate</submit_url>
				<merchant_account>test@godzai.com</merchant_account>
				<security_private_key>0295b36b7ba3364397c0086db08e25b5</security_private_key>
			</godzai>
		</payment>
	</default>
	<!-- <frontend>
		<routers>
			<godzai>
				<use>standard</use>
				<args>
					<module>SmartLab_Godzai</module>
					<frontname>godzaigate</frontname>
				</args>
			</godzai>
		</routers>
	</frontend> -->
</config>
