<?xml version="1.0" ?>
<config>
	<sections>
        <payment>
          <groups>
            <godzai translate="label" module="godzai">
              <label>GoDZai Payment</label>
              <sort_order>670</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <fields>
                 <title translate="label">
                  <label>Title</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>1</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </title>
                <active translate="label">
                  <label>Enabled</label>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>2</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                </active>
                <order_status translate="label">
                  <label>New Order Status</label>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_order_status_new</source_model>
                  <sort_order>3</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                </order_status>
                <submit_url>
                  <label>Gateway URL</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>4</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                </submit_url>
                <merchant_account translate="label">
                  <label>Merchant Account</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>5</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                </merchant_account>
                <security_private_key translate="label">
                  <label>Private Key</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>6</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                </security_private_key>

                <allowspecific translate="label">
                  <label>Payment from Applicable Countries</label>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                  <sort_order>7</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                </allowspecific>
                <specificcountry translate="label">
                  <label>Payment from Specific Countries</label>
                  <frontend_type>multiselect</frontend_type>
                  <sort_order>8</sort_order>
                  <source_model>adminhtml/system_config_source_country</source_model>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                  <depends><allowspecific>1</allowspecific></depends>
                </specificcountry>
                <sort_order translate="label">
                  <label>Sort Order</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>9</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                </sort_order>
              </fields>
            </godzai>
          </groups>
        </payment>
      </sections>
</config>
