<?xml version="1.0"?>
<config>
    <modules>
        <SmartLab_Datacategory>
            <version>0.1.0</version>
        </SmartLab_Datacategory>
    </modules>
    <global>

        <models>
            <datacategory>
                <class>SmartLab_Datacategory_Model</class>
                <resourceModel>datacategory</resourceModel>
            </datacategory>
            <datacategory>
                <class>SmartLab_Datacategory_Model_Resource</class>
            </datacategory>
        </models>


        <resources>
            <datacategory_setup>
                <setup>
                    <module>SmartLab_Datacategory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </datacategory_setup>
            <datacategory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </datacategory_write>
            <datacategory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </datacategory_read>
        </resources>
    </global>
</config>