<?xml version="1.0"?>
<config>
	<modules>
		<SmartLab_Fseinstaller>
			<version>0.1.0</version>
		</SmartLab_Fseinstaller>
	</modules>
	<global>
		<resources>
			<fseinstaller_setup>
				<setup>
					<module>SmartLab_Installer</module>
				</setup>
			</fseinstaller_setup>
		</resources>
	</global>
</config>
