<?xml version="1.0"?>
<config>
  <modules>
    <SmartLab_Godzaipayment>
      <version>0.1.0</version>
    </SmartLab_Godzaipayment>
  </modules>
   <frontend>
        <routers>
            <godzaipayment>
                <use>standard</use>
                <args>
                    <module>SmartLab_Godzaipayment</module>
                    <frontName>godzaipayment</frontName>
                </args>
            </godzaipayment>
        </routers>
    </frontend>
  <global>
    <helpers>
      <godzaipayment>
        <class>SmartLab_Godzaipayment_Helper</class>
      </godzaipayment>
    </helpers>
    <blocks>
      <godzaipayment>
        <class>SmartLab_Godzaipayment_Block</class>
      </godzaipayment>
    </blocks>
    <models>
      <godzaipayment>
        <class>SmartLab_Godzaipayment_Model</class>
      </godzaipayment>
    </models>
    <resources>
      <godzaipayment_setup>
        <setup>
          <module>SmartLab_Godzaipayment</module>
        </setup>
      </godzaipayment_setup>
    </resources>
  </global>
  <default>
    <payment>
      <godzaipayment>
        <active>1</active>
        <model>godzaipayment/godzai</model>
        <order_status>pending</order_status>
        <title>GoDZai Payment</title>
        <allowspecific>0</allowspecific>
        <payment_action>sale</payment_action>
      </godzaipayment>
    </payment>
  </default>
</config>