<?xml version="1.0"?>
<config>
    <modules>
        <Baokim_PaymentPro>
            <version>1.0.2</version>
        </Baokim_PaymentPro>
    </modules>
    <frontend>
        <routers>
            <paymentpro>
                <use>index</use>
                <args>
                    <module>Baokim_PaymentPro</module>
                    <frontName>paymentpro</frontName>
                </args>
            </paymentpro>
        </routers>
        <layout>
            <updates>
                <paymentpro  module="Baokim_PaymentPro">
                    <file>paymentpro.xml</file>
                </paymentpro>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <paymentpro>
                <use>admin</use>
                <args>
                    <module>Baokim_PaymentPro</module>
                    <frontName>paymentpro</frontName>
                </args>
            </paymentpro>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Baokim_PaymentPro>
                            <title>Baokim PaymentPro </title>
                            <sort_order>10</sort_order>
                        </Baokim_PaymentPro>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <paymentpro>
                    <file>paymentpro.xml</file>
                </paymentpro>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <paymentpro>
                <class>Baokim_PaymentPro_Model</class>
                <resourceModel>paymentpro_mysql4</resourceModel>
            </paymentpro>
            <paymentpro_mysql4>
                <class>Baokim_PaymentPro_Model_Mysql4</class>
                <entities>
                    <paymentpro>
                        <table>paymentpro</table>
                    </paymentpro>
                </entities>
            </paymentpro_mysql4>
        </models>
        <resources>
            <paymentpro_setup>
                <setup>
                    <module>Baokim_PaymentPro</module>
                    <class>Baokim_PaymentPro_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paymentpro_setup>
            <paymentpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paymentpro_write>
            <paymentpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paymentpro_read>
        </resources>
        <blocks>
            <paymentpro>
                <class>Baokim_PaymentPro_Block</class>
            </paymentpro>
        </blocks>
        <helpers>
            <paymentpro>
                <class>Baokim_PaymentPro_Helper</class>
            </paymentpro>
        </helpers>
        <sales>
            <order>
                <statuses>
                    <process_baokim translate="label">
                        <label>Process BaoKim</label>
                    </process_baokim>

                </statuses>
                <states>
                    <processing>
                        <statuses>
                            <process_baokim />
                        </statuses>
                    </processing>
                </states>
            </order>
        </sales>
    </global>
    <default>
        <payment>
            <paymentpro>
                <active>1</active>
                <model>paymentpro/baokim</model>
                <order_status>pending</order_status>
                <title>Baokim Payment Pro</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </paymentpro>
        </payment>

    </default>
</config>