<?xml version="1.0"?>
<config>
	<modules>
		<Smartlab_Megamenu>
			<version>0.1.0</version>
		</Smartlab_Megamenu>
	</modules>
	<global>
		<!-- <resources>
			<megamenu_setup>
				<setup>
					<module>Smartlab_Megamenu</module>
				</setup>
			</megamenu_setup>
		</resources> -->
	</global>
</config>
