<?xml version="1.0"?>
<config>
	<modules>
		<SmartLab_Baybanbua>
			<version>0.1.0</version>
		</SmartLab_Baybanbua>
	</modules>
	<frontend>
		<layout>
			<updates>
				<baybanbua>
					<file>baybanbua.xml</file>
				</baybanbua>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<baybanbua>
					<file>baybanbua.xml</file>
				</baybanbua>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<fieldsets>
            <sales_convert_order>                                              
                <baybanbua_code><to_order_grid>*</to_order_grid></baybanbua_code>
            </sales_convert_order>
        </fieldsets>
		<models>
			<baybanbua>
				<class>SmartLab_Baybanbua_Model</class>
			</baybanbua>
		</models>
		<resources>
			<baybanbua_setup>
				<setup>
					<module>SmartLab_Baybanbua</module>
					<class>Mage_Sales_Model_Resource_Setup</class>
				</setup>
				<conneciton>
					<use>core_setup</use>
				</conneciton>
			</baybanbua_setup>
			<baybanbua_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </baybanbua_write>
            <baybanbua_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </baybanbua_read>
		</resources>
		<helpers>
			<baybanbua>
				<class>SmartLab_Baybanbua_Helper</class>
			</baybanbua>
		</helpers>
		<blocks>
			<baybanbua>
				<class>SmartLab_Baybanbua_Block</class>
			</baybanbua>
		</blocks>
		<events>
			<sales_order_place_after>
	            <observers>
	                <baybanbua>
	                    <model>baybanbua/observer</model>
	                    <method>setBaybanbuaCode</method>
	                </baybanbua>
	            </observers>
	        </sales_order_place_after>
		</events>
	</global>
	<default>
		<carriers>
			<baybanbua>
				<active>1</active>
				<sallowspecific>1</sallowspecific>
				<model>baybanbua/carrier_baybanbua</model>
				<name>Shipping by Lamborghini Veneno</name>
				<price>5.0</price>
				<title>BayBanBua Shipping</title>
				<sort_order>99</sort_order>
			</baybanbua>
		</carriers>
	</default>
</config>