<?xml version="1.0" ?>
<config>
	<modules>
		<SmartLab_Baybanbua>
			<version>0.1.0</version>
		</SmartLab_Baybanbua>
	</modules>
	<frontend>
		<layout>
			<updates>
				<baybanbua>
					<file>baybanbua.xml</file>
				</baybanbua>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<baybanbua>
					<file>baybanbua.xml</file>
				</baybanbua>
			</updates>
		</layout>
		<events>
			<sales_order_grid_collection_load_before>
	            <observers>
	                <baybanbua>
	                    <model>baybanbua/observer</model>
	                    <method>addBaybanbuaCodeToOrderGrid</method>
	                </baybanbua>
	            </observers>
	        </sales_order_grid_collection_load_before>
		</events>
	</adminhtml>
	<global>
		<models>
			<baybanbua>
				<class>SmartLab_Baybanbua_Model</class>
			</baybanbua>
		</models>
		<resources>
			<baybanbua_setup>
				<setup>
					<module>SmartLab_Baybanbua</module>
				</setup>
				<conneciton>
					<use>core_setup</use>
				</conneciton>
			</baybanbua_setup>
		</resources>
		<helpers>
			<baybanbua>
				<class>SmartLab_Baybanbua_Helper</class>
			</baybanbua>
		</helpers>
		<events>
			<sales_order_place_after>
	            <observers>
	                <baybanbua>
	                    <model>baybanbua/observer</model>
	                    <method>setBaybanbuaCode</method>
	                </baybanbua>
	            </observers>
	        </sales_order_place_after>
		</events>
	</global>
	<default>
		<carriers>
			<baybanbua>
				<active>1</active>
				<sallowspecific>1</sallowspecific>
				<model>baybanbua/carrier_baybanbua</model>
				<name>Shipping by Lamborghini Veneno</name>
				<price>5.0</price>
				<title>BayBanBua Shipping</title>
				<sort_order>99</sort_order>
			</baybanbua>
		</carriers>
	</default>
</config>
