<?xml version="1.0"?>

<config>
    <modules>
        <SmartLab_Customproduct>
            <version>0.1.0</version>
        </SmartLab_Customproduct>
    </modules>

    <global>
        <helpers>
            <customproduct>
                <class>SmartLab_Customproduct_Helper</class>
            </customproduct>
        </helpers>
        <models>
            <customproduct>
                <class>SmartLab_Customproduct_Model</class>
            </customproduct>
        </models>

        <resources>
            <customproduct_setup>
                <setup>
                    <module>SmartLab_Customproduct</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customproduct_setup>
        </resources>

        <catalog>
            <product>
                <type>
                    <customproduct translate="label" module="catalog">
                        <label>Digital Certification</label>
                        <model>customproduct/product_type_cp</model>
                        <!--o model tab tuy chinh chuc nang khi truy cap vao viewpage-->
                        <is_qty>1</is_qty>
                        <index_data_retreiver>customproduct/catalogIndex_data_cp</index_data_retreiver>
                        <price_model>customproduct/product_price</price_model>
                        <!--xac dinh phuong phap tinh gia -->
                        <composite>0</composite>
                        <!--kieu san pham la hon hop hay khong-->
                    </customproduct>
                </type>
            </product>
        </catalog>


        <events>
            <catalog_product_collection_load_after>
                <observers>
                    <setPrice>
                        <type>singleton</type>
                        <class>smartlab_customproduct_model_observer</class>
                        <method>getproducttype</method>
                    </setPrice>
                </observers>
            </catalog_product_collection_load_after>

            <!--event them 1 product option vao customproduct-->
            <catalog_product_save_before>
                <observers>
                    <save_after>
                        <type>singleton</type>
                        <class>smartlab_customproduct_model_observer</class>
                        <method>catalogProductSaveAfter</method>
                    </save_after>
                </observers>
            </catalog_product_save_before>


            <!--event dispatch event add to cart before-->
            <controller_action_predispatch>
                <observers>
                    <controller_action_before>
                        <class>smartlab_customproduct_model_observer</class>
                        <method>hookToControllerActionPreDispatch</method>
                    </controller_action_before>
                </observers>
            </controller_action_predispatch>
            <!--event kiem tra login khi mua custom product-->
            <add_to_cart_before>
                <observers>
                    <check_login>
                        <type>singleton</type>
                        <class>smartlab_customproduct_model_observer</class>
                        <method>hookToAddToCartBefore</method>
                    </check_login>
                </observers>
            </add_to_cart_before>
        </events>
    </global>


    <adminhtml>
        <events>
            <catalog_product_new_action>
                <observers>
                    <customproduct_observer_catalog_product_new_action>
                        <type>singleton</type>
                        <class>customproduct/observer</class>
                        <method>hookIntoCatalogProductNewAction</method>
                    </customproduct_observer_catalog_product_new_action>
                </observers>
            </catalog_product_new_action>
        </events>
    </adminhtml>

    <frontend>
        <sales_quote_save_before>
            <observers>
                <set_quantity>
                    <type>singleton</type>
                    <class>customproduct/observer</class>
                    <method>setquantity</method>
                </set_quantity>
            </observers>
        </sales_quote_save_before>

    </frontend>
</config>
