<?xml version="1.0"?>

<config>
    <modules>
        <SmartLab_Customproduct>
            <version>0.1.0</version>
        </SmartLab_Customproduct>
    </modules>

    <global>
        <models>
            <customproduct>
                <class>SmartLab_Customproduct_Model</class>
            </customproduct>
        </models>

        <resources>
            <customproduct_setup>
                <setup>
                    <module>SmartLab_Customproduct</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customproduct_setup>
        </resources>

        <catalog>
            <product>
                <type>
                    <customproduct translate="label" module="catalog">
                        <label>Digital Certification</label>
                        <model>customproduct/product_type_cp</model>
                        <!--o model tab tuy chinh chuc nang khi truy cap vao viewpage-->
                        <is_qty>1</is_qty>
                        <index_data_retreiver>customproduct/catalogIndex_data_cp</index_data_retreiver>
                        <price_model>customproduct/product_price</price_model>
                        <!--xac dinh phuong phap tinh gia -->
                        <composite>0</composite>
                        <!--kieu san pham la hon hop hay khong-->

                    </customproduct>
                </type>
            </product>
        </catalog>
    </global>

    <adminhtml>
        <events>
            <catalog_product_new_action>
                <observers>
                    <customproduct_observer_catalog_product_new_action>
                        <type>singleton</type>
                        <class>customproduct/observer</class>
                        <method>hookIntoCatalogProductNewAction</method>
                    </customproduct_observer_catalog_product_new_action>
                </observers>
            </catalog_product_new_action>
        </events>
    </adminhtml>

    <frontend>
        <events>
            <catalog_product_collection_load_after>
                <observers>
                    <customproduct_observer_catalog_product_collection_load_before>
                        <type>singleton</type>
                        <class>customproduct/observer</class>
                        <method>catalogProductCollectionLoadBefore</method>
                    </customproduct_observer_catalog_product_collection_load_before>
                </observers>
            </catalog_product_collection_load_after>
        </events>
    </frontend>
</config>
